.widget_bar {
  color: $foreground;
  min-height: 28px;
  padding: 5px;
  padding-bottom: 0px;

  .left > *,
  .center > *,
  .right > *
  {
    background-color: $background;
    border-radius: $window-radius;
    border: 2px solid $bgdarker;
    padding: 0px 10px;
  }

  .left > * {
    margin: 0px $gaps-between-modules 0px 0px;
  }

  .right > * {
    margin: 0px 0px 0px $gaps-between-modules;
  }

  @each $name, $color in (
    workspaces: $mauve,
    window_title: $red,
    /* gap!!! */
    music: $sapphire,
    tray: $green,
    io: $peach,
    time: $red,
    notifcount: $mauve,
  ) { .#{$name} {
    border-color: $color;
    }
  }

  .workspaces {
    padding: 6px 5px 6px 10px;
    $workspace-width: 12px;
    min-width: calc(($workspace-width * 6) + 43px); /* Stupid as fuck but stops wobble *a bit* when switching workspaces */

    .workspace {
      margin-right: 5px;
      border-radius: 9999px;
      min-width: $workspace-width;
      background-color: $bglighter;
      transition: min-width 0.1ms ease;
      &:hover {
        background-color: mix(white, $bglighter, 15%);
        transition: background-color 0.1s ease;
      }
      &.active {
        min-width: calc($workspace-width * 2);
        background-color: $mauve;
      }
    }
  }

  .music,
  .io,
  .time,
  .notifcount {
    background-color: $background;
    transition: background-color 0.1s ease;
    &:hover {
      background-color: mix(white, $background, 10%);
    }
    &:active {
      background-color: mix(white, $background, 20%);
    }
  }

  /* System tray and menu theming!!! */
  menubar {
    > menuitem {
      margin: 0 5px;

      menu {
        margin: 20px;
        padding: 5px 10px;
        border-radius: 6px;
        background-color: $background;
        border: 2px solid $mauve;

        menuitem {
          margin: 1px 0;
          padding: 2px 5px;
          transition: 0.1s ease background;
          border-radius: 6px;
          background: transparent;
        }

        menuitem:hover {
          background: rgba(255, 255, 255, 0.25);
        }

        separator {
          min-height: 1px;
          border-radius: 9999px;
          margin: 3px;
          background-color: $bglighter;
        }
      }
    }
  }

  check {
    border-radius: 9999px;
    min-width: 13px;
    min-height: 13px;
    background: rgba(255, 255, 255, 0.15);
    margin-right: 0.5rem;
  }

  check:checked {
    background: $mauve;
  }

  arrow.right {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;

    border-left: 7px solid transparent;
  }

  arrow.left {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;

    border-right: 7px solid transparent;
  }

}
