.widget_cal {
  padding: 10px;
  calendar {
    padding: 0px;

    &.view {
      background-color: $background;
      border-radius: 5;
      border-style: solid;
      border-width: 2;
      border-color: $mauve;
    }
  
    &.button {
      border-radius: 50%;
      color: $mauve;
  
      &:hover {
        color: mix($background, $mauve, 30%);
      }
  
      &:disabled {
        color: $red;
      }
    }
  
    &.header {
      border-radius: 0 0 0.3em 0.3em;
    }
  
    &.highlight {
      color: $foreground;
    }
  
    &:selected {
      color: $background;
      background: $mauve;
      border-radius: 0.2em;
    }
  
    &:indeterminate {
      color: $bglighter;
    }
  }
}
