$width: 25px;

.widget_osd {
    $width: 250px;
    $height: 25px;
    padding: .3em;
    background-color: $background;
    border: 2px solid $mauve;
    border-radius: calc($window-radius + 10px);
    padding: 10px;

    .scale trough {
      min-width: $width;
      min-height: $height;
      background-color: red;
      border-radius: $window-radius;
      background-color: $bglighter;
      border: none;
      border-radius: $window-radius;

      highlight, progress {
        border-radius: $window-radius;
        background-color: $mauve;
        min-height: $height;
      }
    }

    .icon {
      color: $background;
      font-size: 1.20em;
      margin: 0px 7px;
    }
}
