.powermenu_widget {
    background-color: $background;
    border-radius: $window-radius;
    border: 2px solid $mauve;
    padding: 10px;
    padding-right: 0px;

    .button {
        background-color: $mauve;
        color: $background;
        border-radius: $window-radius;
        padding: 20px;
        margin-right: 10px;

        .icon {
            font-size: 4em;
        }

        &:hover {
            background-color: mix($background, $mauve, 30%)
        }

    }
}
