$window-radius: 7px;
$bar-height: 25px;
$gaps-between-modules: 5px;

$background: #1e1e2e;
$bgdarker: #11111b;
$bglighter: #313244;
$foreground: #cdd6f4;

$mauve: #cba6f7;
$red: #f38ba8;
$peach: #fab387;
$green: #a6e3a1;
$sapphire: #74c7ec;
