* {
  all: unset; /* Theme everything from scratch! */
  /*font-family: "Urbanist", "SymbolsNerdFont"; Disabled so it uses the system font instead */
  font-size: 14px;
}

@import "styles/variables.scss";
@import "styles/bar.scss";
@import "styles/cal.scss";
@import "styles/osd.scss";
@import "styles/cc.scss";

/* Not really sure where else to put this in all honesty.
 * I might just make a styles/misc.scss at some point but
 * :shrug:
*/
tooltip {
    font-size: 2em;
    background-color: $background;
    color: $foreground;
    border-radius: 6px;
    border: 2px solid $mauve;
}
