$radius: 7px;
$gap: 5px;
$width: 35px;

$background: #1e1e2e;
$bgdarker: #11111b;
$bglighter: #313244;
$foreground: #cdd6f4;

$mauve: #cba6f7;
$red: #f38ba8;
$peach: #fab387;
$green: #a6e3a1;
$sapphire: #74c7ec;
